<template>
  <gl-dropdown text="Some dropdown" :show-clear-all="true" :clear-all-text="'Clear all'">
    <gl-dropdown-item>First item</gl-dropdown-item>
    <gl-dropdown-item>Second item</gl-dropdown-item>
    <gl-dropdown-item>Last item</gl-dropdown-item>
  </gl-dropdown>
</template>
